<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>greet</title>
        <style>
            ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            }
        </style>
    </head>

    <body>
        Hello {{ username }}
        <form id="subjects" method="get" action="subjects">
            <input type="submit" name="log" id="log" value="subjects offered by vjc">
        </form>
        <form id="RP" method="get" action="rp">
            <input type="submit" name="rp" id="rp" value="Rank point calculator">
        </form>
    </body>



</html>
