<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>rp calculator</title>
        <style>

        </style>
    </head>

    <body>
        Key in your results below
        <form action="/result" method="get">
            <label for="GP">Your GP Grade</label>
            <select id="GP" name="GP">
                <option value="A(H1)">A</option>
                <option value="B(H1)">B</option>
                <option value="C(H1)">C</option>
                <option value="D(H1)">D</option>
                <option value="E(H1)">E</option>
                <option value="S(H1)">S</option>
                <option value="U">U</option>
                <option value="NA">NA</option>
            </select>
            <label for="PW">Your PW Grade</label>
            <select id="PW" name="PW">
                <option value="A(H1)">A</option>
                <option value="B(H1)">B</option>
                <option value="C(H1)">C</option>
                <option value="D(H1)">D</option>
                <option value="E(H1)">E</option>
                <option value="S(H1)">S</option>
                <option value="U">U</option>
                <option value="NA">NA</option>
            </select>
            <label for="1H2">Your first H2 Grade</label>
            <select id="1H2" name="First H2 subject">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="S">S</option>
                <option value="U">U</option>
                <option value="NA">NA</option>
            </select>
            <label for="2H2">Your second H2 Grade</label>
            <select id="2H2" name="Second H2 subject">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="S">S</option>
                <option value="U">U</option>
                <option value="NA">NA</option>
            </select>
            <label for="3H2">Your third H2 Grade</label>
            <select id="3H2" name="Third H2 subject">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="S">S</option>
                <option value="U">U</option>
                <option value="NA">NA</option>
            </select>
            <label for="H1orH2">Your grade for last subject</label>
            <select id="H1orH2" name="H1orH2">
                <option value="A(H2)">A(H2)</option>
                <option value="B(H2)">B(H2)</option>
                <option value="C(H2)">C(H2)</option>
                <option value="D(H2)">D(H2)</option>
                <option value="E(H2)">E(H2)</option>
                <option value="S(H2)">S(H2)</option>
                <option value="A(H1)">A(H1)</option>
                <option value="B(H1)">B(H1)</option>
                <option value="C(H1)">C(H1)</option>
                <option value="D(H1)">D(H1)</option>
                <option value="E(H1)">E(H1)</option>
                <option value="S(H1)">S(H1)</option>
                <option value="U">U</option>
                <option value="NA">NA</option>
            </select>

            <input type="submit">
          </form>
    </body>



</html>
