<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>subjects</title>
        <style>
            table, td, th {
                border: 1px solid #ddd;
                text-align: left;
            }

            table {
                border-collapse: collapse;
                width: 100%;
            }
            th {
                background-color: #04AA6D;
                padding: 15px;
            }

            td {
                padding: 15px;
            }
        </style>
    </head>

    <body>
        <table>
            <tr>
              <th>Name</th>
              <th>Level</th>
            </tr>
            <tr>
            <td>Project Work H1</td>
            <td>A (H1)</td>
            </td>
            <tr>
            <td>Art H2</td>
            <td>A (H2)</td>
            </td>
            <tr>
            <td>Art H3</td>
            <td>A (H3)</td>
            </td>
            <tr>
            <td>Biology H1</td>
            <td>A (H1)</td>
            </td>
            <tr>
            <td>Biology H2</td>
            <td>A (H2)</td>
            </td>
            <tr>
            <td>Biology H3</td>
            <td>A (H3)</td>
            </td>
            <tr>
            <td>Chemistry H1</td>
            <td>A (H1)</td>
            </td>
            <tr>
            <td>Chemistry H2</td>
            <td>A (H2)</td>
            </td>
            <tr>
            <td>Chemistry H3</td>
            <td>A (H3)</td>
            </td>
            <tr>
            <td>China Studies in English H1</td>
            <td>A (H1)</td>
            </td>
            <tr>
            <td>China Studies in English H2</td>
            <td>A (H2)</td>
            </td>
            <tr>
            <td>Chinese Language & Literature H2</td>
            <td>A (H2)</td>
            </td>
            <tr>
            <td>Economics H1</td>
            <td>A (H1)</td>
            </td>
            <tr>
            <td>Economics H2</td>
            <td>A (H2)</td>
            </td>
            <tr>
            <td>Economics H3</td>
            <td>A (H3)</td>
            </td>
            <tr>
            <td>Education and Career Guidance</td>
            <td>NA</td>
            </td>
            <tr>
            <td>English Literature H1</td>
            <td>A (H1)</td>
            </td>
            <tr>
            <td>English Literature H2</td>
            <td>A (H2)</td>
            </td>
            <tr>
            <td>English Literature H3</td>
            <td>A (H3)</td>
            </td>
            <tr>
            <td>French H2</td>
            <td>A (H2)</td>
            </td>
            <tr>
            <td>Further Mathematics H2</td>
            <td>A (H2)</td>
            </td>
            <tr>
            <td>General Paper H1</td>
            <td>A (H1)</td>
            </td>
            <tr>
            <td>Geography H1</td>
            <td>A (H1)</td>
            </td>
            <tr>
            <td>Geography H2</td>
            <td>A (H2)</td>
            </td>
            <tr>
            <td>Geography H3</td>
            <td>A (H3)</td>
            </td>
            <tr>
            <td>German H2</td>
            <td>A (H2)</td>
            </td>
            <tr>
            <td>History H2</td>
            <td>A (H2)</td>
            </td>
            <tr>
            <td>History H3</td>
            <td>A (H3)</td>
            </td>
            <tr>
            <td>Japanese H2</td>
            <td>A (H2)</td>
            </td>
            <tr>
            <td>LEP H3</td>
            <td>A (H3)</td>
            </td>
            <tr>
            <td>Mathematics H1</td>
            <td>A (H1)</td>
            </td>
            <tr>
            <td>Mathematics H2</td>
            <td>A (H2)</td>
            </td>
            <tr>
            <td>Mathematics H3</td>
            <td>A (H3)</td>
            </td>
            <tr>
            <td>NTU H3 Molecular Biology</td>
            <td>A (H3)</td>
            </td>
            <tr>
            <td>NTU Semiconductor Physics & Devices H3</td>
            <td>A (H3)</td>
            </td>
            <tr>
            <td>NUS Geopol War & Peace H3</td>
            <td>A (H3)</td>
            </td>
            <tr>
            <td>NUS Humanities & Social Studies Research</td>
            <td>A (H3)</td>
            </td>
            <tr>
            <td>NUS Modern Physics - PC1144</td>
            <td>A (H3)</td>
            </td>
            <tr>
            <td>NUS Science Research Programme H3</td>
            <td>A (H3)</td>
            </td>
            <tr>
            <td>Physics H1</td>
            <td>A (H1)</td>
            </td>
            <tr>
            <td>Physics H2</td>
            <td>A (H2)</td>
            </td>
            <tr>
            <td>Physics H3</td>
            <td>A (H3)</td>
            </td>
            <tr>
            <td>SMU Game Theory & Competition</td>
            <td>A (H3)</td>
            </td>
            <tr>
            <td>SPANISH H2</td>
            <td>A (H2)</td>
            </td>
            <tr>
            <td>Tamil Language & Literature H2</td>
            <td>A (H2)</td>
            </td>
            <tr>
            <td>Tamil Language & Literature H3</td>
            <td>A (H3)</td>
            </td>
            <tr>
            <td>Theatre Studies & Drama H2</td>
            <td>A (H2)</td>
            </td>
            <tr>
            <td>Bengali H1</td>
            <td>A (H1)</td>
            </td>
            <tr>
            <td>Chinese (MTL) H1</td>
            <td>A (H1)</td>
            </td>
            <tr>
            <td>Chinese B H1</td>
            <td>A (H1)</td>
            </td>
            <tr>
            <td>French H1</td>
            <td>A (H1)</td>
            </td>
            <tr>
            <td>German H1</td>
            <td>A (H1)</td>
            </td>
            <tr>
            <td>Gujarati H1</td>
            <td>A (H1)</td>
            </td>
            <tr>
            <td>Hindi H1</td>
            <td>A (H1)</td>
            </td>
            <tr>
            <td>Japanese H1</td>
            <td>A (H1)</td>
            </td>
            <tr>
            <td>Malay (MTL) H1</td>
            <td>A (H1)</td>
            </td>
            <tr>
            <td>Malay B H1</td>
            <td>A (Old Syllabus)</td>
            </td>
            <tr>
            <td>Panjabi H1</td>
            <td>A (H1)</td>
            </td>
            <tr>
            <td>Tamil (MTL) H1</td>
            <td>A (H1)</td>
            </td>
            <tr>
            <td>Tamil B H1</td>
            <td>A (H1)</td>
            </td>
            <tr>
            <td>Urdu H1</td>
            <td>A (H1)</td>
            </td>
            <tr>
            <td>Physical Education</td>
            <td>NA</td>
            </td>

          </table>
    </body>



</html>
